#leftBox, #centerBox, #rightBox, #movieBox {
  width: 200px;
  height: 286px;
  border: 2px solid red;
  float: left;
  margin: 20px;
}

img {
  width: 100%;
  height: 100%;
}

#track-watched-buttons {
  clear: left;
}

#addToTracking, #addToWatched {
  clear: left;
  display: inline;
}

#addToTracking {
  margin-left: 75px;
}

#addToWatched {
  margin-left: 205px;
}