<section>
    <button id="showUntracked" ng-click="toggleWatched()">Show Untracked</button>
    <button id="showWatched" ng-click="toggleWatched()">Show UnWatched</button>
    <button id="showWatched" ng-click="toggleWatched()">Show Watched</button>
    <button id="favorites" ng-click="toggleWatched()">Favorites</button>
</section>


<!-- 10 Open Stars -->
    <!-- <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>  -->
<!-- 5 Closed Stars -->
    <!-- <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> -->