<section>
    <input type="text" ng-model="findNewSearchString">
    <button ng-click="searchOMDB()">Find New Movies</button>

    <!-- <h1>Movie History</h1>
        <button>Show Untracked</button>
        <button>Show Unwatched</button>
        <button>Show Watched</button>
        <button>Favorites</button>
        <br>

    <div id="posterContainer">
        
    </div>
    
    <div id="track-watched-buttons">
        <button ng-click="addToTracking()" id="addToTracking">Track It</button>
        <button ng-click="addToWatched()" id="addToWatched">Watched It</button>
        <img id="stars">
    </div> -->
</section>